.token-page{
    height: 100%;
    width: 100%;
}

.token-header-container{
    display: inline-block;
    width: 100%;
    height: 26px;
    margin-bottom: 15px;
}

.token-header-search{
    display: inline-block;
    vertical-align: bottom;
    height: 15px;
    width: calc(100% - 190px);
    color: var(--color-text-light);
    background-color: var(--color-input-background);
    box-shadow: var(--box-shadow-drop-regular);
    border: 0px;
    padding: 5px 10px;
    font-size: 13px;
}

.token-header-search::placeholder{
    font-style: italic;
}

.token-header-button{
    display: inline-block;
    vertical-align: bottom;
    width: 80px;
    height: 100%;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-light);
    border: 0px;
    font-size: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.token-header-button:hover{
    color: var(--color-main-grey-light);
    background-color: var(--color-text-light);
}

.token-header-button-icon-wrapper{
    display: inline-block;
    height: 10px;
    vertical-align: middle;
}

.token-header-button-text-wrapper{
    margin-left: 5px;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
}

.token-list-wrapper{
    height: calc(100% - 41px);
    width: 100%;
}
