.header{
    width: 100%;
    height: 100%;
    background-color: var(--color-main-grey-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ledn-logo-wrapper{
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

.ledn-logo{
    width: 90px;
}

.header-button{
    display: inline-block;
    padding: 12px;
    width: 100%;
    transition: 0.3s;
    color: var(--color-text-light);
}

.header-button:hover{
    display: inline-block;
    padding: 12px;
    width: calc(100% - 24px);
    background-color: var(--color-text-light);
    color: var(--color-main-grey-light);
    font-weight: bold;
    cursor: pointer;
}

.header-button-selected{
    width: calc(100% - 24px);
    color: var(--color-ledn-blue);
    background-color: var(--color-input-background);
}

.header-button-icon{
    padding-left: 25px;
    display: inline-block;
    vertical-align: middle;
}

.header-button-text{
    padding-left: 25px;
    display: inline-block;
    vertical-align: middle;
    font-size: 10pt;
}

.header-separator{
    border-bottom: 2px solid var(--color-main-grey-dark);
}
